<div class="">
      <ul class="nav nav-pills border border-info rounded-pill">
        <li> <button [routerLink]="['view-all']"  type="button" class="btn btn-light text-dark me-3 "> View All Customers </button> </li>
        <li> <button [routerLink]="['add-customer']" type="button" class="btn btn-light text-dark me-3"> Add Customer </button> </li>
        <li> <button type="button" class="btn btn-light text-dark me-3"> Contacts </button> </li>
        <li> <button type="button" class="btn btn-light text-dark me-3"> Setting </button> </li>
      </ul>
  </div>
