<div class="container ">
  <div class="row featurette bg-light">
    <div class="col-md-5 d-flex align-items-center">
      <h1 class="featurette-heading fw-normal lh-1 heading-xlarge">
        <strong>
        Save time, save money, <br />
        stay healthy.
      </strong>
      </h1>
    </div>
    <div class="col-md-7">
      <img
        width="100%"
        height="100%"
        src="https://media.istockphoto.com/id/660133278/photo/using-online-tools-to-choose-the-best-medication.jpg?s=2048x2048&w=is&k=20&c=UIpfTR0mf5SfzYpFckd7Akgq1JT9pbIljbqjEUFh_T0="
        alt=""
      />
    </div>
  </div>

  <div class="row featurette">
    <div class="col-md-12 order-md-2 align-center py-5">
      <h2 class="featurette-heading fw-normal lh-1">
        Your Health Matters
      </h2>
      <p class="lead">
        Stay In The Know - Health Monitoring Devices
      </p>
    </div>
  </div>

  <section data-sid="content-slot-5">
    <div
      class="celwidget pf_rd_p-eec66740-bae8-415c-83df-1e9f94ddf988 pf_rd_r-QZQSD5GGREY0K759EZ1D"
      cel_widget_id="1fa1ade8-d65a-4220-9990-0cad1a01d9b9"
      data-csa-op-log-render=""
      data-csa-c-content-id="amzn1.sym.eec66740-bae8-415c-83df-1e9f94ddf988"
      data-csa-c-slot-id="DsUnknown-5"
      data-csa-c-type="widget"
      data-csa-c-painter="pharmacy-lego-painter"
    >
      <div class="painters_lego-tracking-wrapper">
        <link
          href="https://d3216uwaav9lg7.cloudfront.net/assets-AmazonPharmacy.css"
          rel="stylesheet"
        />

        <div class="ap-lego desktop" data-devicetype="desktop">
          <div
            class="flex-container flex-align-items-stretch flex-align-content-flex-start flex-full-width"
            id=""
            style="width: 100%"
          >
            <div
              class="flex-container flex-align-items-stretch flex-align-content-flex-start flex-full-width"
              id=""
              style="width: 100%"
            >
              <div
                class="bg-no-repeat padding-left-small padding-right-small flex-container flex-align-items-stretch flex-align-content-flex-start flex-full-width"
                id=""
                style="
                  width: 100%;
                  background-image: url(&#x27;https://m.media-amazon.com/images/G/01/wg/lp/Background-Colors/seashell._SL1280_FMpng_.png&#x27;);
                  background-size: cover;
                  background-position: center center;
                "
              >
                <div class="has-max-width ap-container-direction-row">
                  <div
                    class="padding-top-xxlarge padding-bottom-xxlarge flex-container flex-align-items-center flex-align-content-center"
                    id=""
                    style="width: 50%"
                  >
                    <div
                      class="padding-bottom-mini flex-container flex-align-items-stretch flex-align-content-flex-start flex-full-width"
                      id=""
                      style="width: 100%"
                    >
                      <h3
                        class="heading align-start color-squid font-family-ember heading-xlarge"
                      >
                        <strong>Goodbye, pharmacy line</strong>
                      </h3>
                    </div>
                    <div
                      class="padding-right-xlarge padding-bottom-small flex-container flex-align-items-stretch flex-align-content-flex-start flex-full-width"
                      id=""
                      style="width: 100%"
                    >
                      <div
                        class="text align-start color-squid font-family-ember font-size-medium font-weight-regular"
                      >
                        We deliver your medication right to your door, with
                        status updates along the way.
                      </div>
                    </div>
                    <div
                      class="flex-container flex-align-items-stretch flex-align-content-flex-start flex-full-width"
                      id=""
                      style="width: 100%"
                    >
                      <div class="button-container-padding-none">
                        <div class="align-start">
                          <a
                            href="/dashboard?ref_=sf2_convenience"
                            class="link button button-font-size-regular button-type-tertiary"
                            aria-label="Get started"
                            >Sign up | Sign in</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="padding-left-xxlarge padding-top-large padding-bottom-large flex-container flex-align-items-center flex-align-content-center"
                    id=""
                    style="width: 50%"
                  >
                    <div class="video align-center">
                      <video
                        crossorigin="anonymous"
                        height="auto"
                        preload="auto"
                        poster="https://m.media-amazon.com/images/G/01/wg/lp/LEGO-LP/Storefont_v2/Home/Delivery_Hero_Poster-Desktop.jpg"
                        autoplay=""
                        muted=""
                        playsinline=""
                        loop=""
                      >
                        <source
                          src="https://m.media-amazon.com/images/G/01/wg/lp/LEGO-LP/Storefont_v2/Home/Delivery_Hero-Desktop.mp4"
                          type="video/mp4"
                        />
                      </video>
                    </div>
                  </div>
                </div>
              </div>
              <div></div>
            </div>
          </div>
        </div>

        <script
          src="https://d3216uwaav9lg7.cloudfront.net/assets-AmazonPharmacy.js"
          type="text/javascript"
        ></script>
      </div>
    </div>
  </section>

  <section data-sid="content-slot-7">
    <div
      class="celwidget pf_rd_p-ab8d828d-2731-461f-9e74-2b228f4fa53d pf_rd_r-QZQSD5GGREY0K759EZ1D"
      cel_widget_id="e3614f12-bf51-4108-9d57-90c5e13aec09"
      data-csa-op-log-render=""
      data-csa-c-content-id="amzn1.sym.ab8d828d-2731-461f-9e74-2b228f4fa53d"
      data-csa-c-slot-id="DsUnknown-7"
      data-csa-c-type="widget"
      data-csa-c-painter="pharmacy-lego-painter"
    >
      <div class="painters_lego-tracking-wrapper">
       

        <div class="ap-lego desktop" data-devicetype="desktop">
          <div
            class="flex-container flex-align-items-stretch flex-align-content-flex-start flex-full-width"
            id=""
            style="width: 100%"
          >
            <div
              class="flex-container flex-align-items-stretch flex-align-content-flex-start flex-full-width"
              id=""
              style="width: 100%"
            >
              <div
                class="background-color-ghost-sage padding-left-small padding-right-small flex-container flex-align-items-stretch flex-align-content-flex-start flex-full-width"
                id=""
                style="width: 100%"
              >
                <div class="has-max-width ap-container-direction-row">
                  <div
                    class="padding-right-xxlarge flex-container flex-align-items-flex-end flex-align-content-flex-end"
                    id=""
                    style="width: 50%"
                  >
                    <div
                      class="flex-container flex-align-items-stretch flex-align-content-flex-start flex-full-width"
                      id=""
                      style="width: 100%"
                    >
                      <div class="spacer"></div>
                    </div>
                    <div
                      class="padding-top-small flex-container flex-align-items-flex-end flex-align-content-flex-end flex-full-width"
                      id=""
                      style="width: 100%"
                    >
                      <div class="image image-size-fit align-center">
                        <img
                          src="https://m.media-amazon.com/images/G/01/wg/lp/LEGO-LP/Storefont_v2/Home/pharmacist_with_bottle_2x.png"
                          alt="Hand holding insurance card"
                          title="Insurance accepted"
                        />
                      </div>
                    </div>
                  </div>
                  <div
                    class="padding-top-xxlarge padding-bottom-xxlarge flex-container flex-align-items-center flex-align-content-center"
                    id=""
                    style="width: 50%"
                  >
                    <div
                      class="padding-bottom-mini flex-container flex-align-items-stretch flex-align-content-flex-start flex-full-width"
                      id=""
                      style="width: 100%"
                    >
                      <h3
                        class="heading align-start color-squid font-family-ember heading-xlarge"
                      >
                        <strong>We’re here for you</strong>
                      </h3>
                    </div>
                    <div
                      class="padding-right-xlarge padding-bottom-base flex-container flex-align-items-stretch flex-align-content-flex-start flex-full-width"
                      id=""
                      style="width: 100%"
                    >
                      <div
                        class="text align-start color-squid font-family-ember font-size-medium font-weight-regular"
                      >
                        Our U.S.-licensed pharmacists check every order before
                        it goes out. Have a question for them? Reach out
                        anytime, day or night.
                      </div>
                    </div>
                    <div
                      class="flex-container flex-align-items-stretch flex-align-content-flex-start flex-justify-content flex-justify-content-flex-start flex-full-width ap-container-nowrap ap-container-direction-row"
                      id=""
                      style="width: 100%"
                    >
                      <div
                        class="background-color-white border-radius-10px padding-left-mini padding-right-mini padding-top-mini padding-bottom-mini flex-container flex-align-items-stretch flex-align-content-flex-start flex-justify-content flex-justify-content-center margin-right-xmini"
                        id=""
                        style="width: 41.666666666666664%"
                      >
                        <a
                          class="link-container"
                          href="https://accreditnet.urac.org/directory/#/accreditation/MSP010023/info"
                          data-open-external-mshop="true"
                          aria-label="URAC accreditation"
                          ><div
                            class="flex-container flex-align-items-stretch flex-align-content-flex-start flex-justify-content flex-justify-content-center flex-full-width"
                            id=""
                            style="width: 100%"
                          >
                            <div class="image image-size-custom align-center">
                              <img
                                src="https://m.media-amazon.com/images/G/01/wg/lp/LEGO-LP/Storefont_v2/Home/accreditation_URAC_2x._CB586099265_.png"
                                alt="URAC Accredited Mail Service Pharmacy 01/01/2027 badge"
                                title="URAC accreditation"
                                style="height: 100px; width: auto"
                              />
                            </div></div
                        ></a>
                      </div>
                      <div
                        class="background-color-white border-radius-10px padding-left-mini padding-right-mini padding-top-mini padding-bottom-mini flex-container flex-align-items-stretch flex-align-content-flex-start flex-justify-content flex-justify-content-center margin-left-xmini"
                        id=""
                        style="width: 58.333333333333336%"
                      >
                        <a
                          class="link-container"
                          href="https://app.us.openbadges.me/view/#!/badge?badgeid=e96e5e19-00e7-4311-b113-a69a1492e90d"
                          data-open-external-mshop="true"
                          aria-label="NABP accreditation"
                          ><div
                            class="flex-container flex-align-items-stretch flex-align-content-flex-start flex-justify-content flex-justify-content-center flex-full-width"
                            id=""
                            style="width: 100%"
                          >
                            <div class="image image-size-custom align-start">
                              <img
                                src="https://m.media-amazon.com/images/G/01/wg/lp/LEGO-LP/Storefont_v2/Home/accreditation_NABP_2x.png"
                                alt="NABP Accredited Digital Pharmacy badge"
                                title="NABP accreditation"
                                style="height: 100px; width: auto"
                              />
                            </div></div
                        ></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div></div>
            </div>
          </div>
        </div>

        <script
          src="https://d3216uwaav9lg7.cloudfront.net/assets-AmazonPharmacy.js"
          type="text/javascript"
        ></script>
      </div>
    </div>
  </section>

  <section data-sid="content-slot-8">
    <div
      class="celwidget pf_rd_p-d641b131-4b31-4a35-903c-a93fd964b35b pf_rd_r-QZQSD5GGREY0K759EZ1D"
      cel_widget_id="733e1e61-5b76-437f-8b2d-5e4513e2c1a6"
      data-csa-op-log-render=""
      data-csa-c-content-id="amzn1.sym.d641b131-4b31-4a35-903c-a93fd964b35b"
      data-csa-c-slot-id="DsUnknown-8"
      data-csa-c-type="widget"
      data-csa-c-painter="pharmacy-lego-painter"
    >
      <div class="painters_lego-tracking-wrapper">
        <link
          href="https://d3216uwaav9lg7.cloudfront.net/assets-AmazonPharmacy.css"
          rel="stylesheet"
        />

        <div class="ap-lego desktop" data-devicetype="desktop">
          <div
            class="flex-container flex-align-items-stretch flex-align-content-flex-start flex-full-width"
            id=""
            style="width: 100%"
          >
            <div
              class="flex-container flex-align-items-stretch flex-align-content-flex-start flex-full-width"
              id=""
              style="width: 100%"
            >
              <div
                class="padding-left-small padding-right-small padding-top-xlarge padding-bottom-xxlarge flex-container flex-align-items-stretch flex-align-content-flex-start flex-full-width"
                id=""
                style="width: 100%"
              >
                <div class="has-max-width">
                  <div
                    class="padding-bottom-small flex-container flex-align-items-stretch flex-align-content-flex-start flex-full-width"
                    id=""
                    style="width: 100%"
                  >
                    <h3
                      class="heading align-center color-squid font-family-ember heading-xlarge"
                    >
                      <strong>How it works</strong>
                    </h3>
                  </div>
                  <div
                    class="padding-bottom-base flex-container flex-align-items-stretch flex-align-content-flex-start flex-justify-content flex-justify-content-center flex-full-width"
                    id=""
                    style="width: 100%"
                  >
                    <a
                      class="link-container ap-video-popup-link"
                      href="#"
                      data-media-central-url="https://m.media-amazon.com/images/G/01/wg/lp/a_main/OVERVIEW-LP-AP-WG.mp4"
                      aria-label="Discover Amazon Pharmacy video"
                      ><div
                        class="flex-container flex-align-items-stretch flex-align-content-flex-start flex-justify-content flex-justify-content-center flex-full-width ap-container-nowrap ap-container-direction-row"
                        id=""
                        style="width: 100%"
                      >
                        <div
                          class="padding-right-mini flex-container flex-align-items-center flex-align-content-center"
                          id=""
                          style="width: 50%"
                        >
                          <div class="image image-size-custom align-start">
                            <img
                              src="https://m.media-amazon.com/images/G/01/wg/lp/icons/video-play-icon-teal.svg"
                              alt="Video play button"
                              title="Play video"
                              style="height: 30px; width: 30px"
                            />
                          </div>
                        </div>
                        <div
                          class="flex-container flex-align-items-center flex-align-content-center"
                          id=""
                          style="width: 50%"
                        >
                          <div
                            class="text align-start color-text-teal font-family-ember font-size-small font-weight-regular"
                          >
                            Discover Amazon Pharmacy (0:47)
                          </div>
                        </div>
                      </div></a
                    >
                  </div>
                  <div
                    class="padding-bottom-xlarge flex-container flex-align-items-stretch flex-align-content-flex-start flex-full-width"
                    id=""
                    style="width: 100%"
                  >
                    <div class="has-max-width ap-container-direction-row">
                      <div
                        class="padding-left-small padding-right-mini flex-container flex-align-items-stretch flex-align-content-flex-start"
                        id=""
                        style="width: 33.333333333333336%"
                      >
                        <div
                          class="padding-bottom-small flex-container flex-align-items-stretch flex-align-content-flex-start flex-full-width"
                          id=""
                          style="width: 100%"
                        >
                          <div class="image image-size-fit align-center">
                            <img
                              src="https://m.media-amazon.com/images/G/01/wg/lp/LEGO-LP/Storefont_v2/Home/howitworks-signup-2x.png"
                              alt="Illustration of user sign up within a smartphone screen "
                              title="Sign up illustration"
                            />
                          </div>
                        </div>
                        <div
                          class="padding-left-small padding-right-small padding-bottom-xmini flex-container flex-align-items-stretch flex-align-content-flex-start flex-full-width ap-container-wrap"
                          id=""
                          style="width: 100%"
                        >
                          <h3
                            class="heading align-center color-squid font-family-ember heading-xsmall"
                          >
                            <strong>1. Sign up for Amazon Pharmacy</strong>
                          </h3>
                        </div>
                        <div
                          class="padding-left-small padding-right-small flex-container flex-align-items-stretch flex-align-content-flex-start flex-full-width ap-container-wrap"
                          id=""
                          style="width: 100%"
                        >
                          <div
                            class="text align-center color-squid font-family-ember font-size-xsmall font-weight-regular links-have-text-color"
                          >
                            It’s simple. And free, always.<br /><a
                              href="/dashboard?ref_=sf2_hiw1"
                              >Sign in or sign up</a
                            >
                            to get started.
                          </div>
                        </div>
                      </div>
                      <div
                        class="padding-left-mini padding-right-mini flex-container flex-align-items-stretch flex-align-content-flex-start"
                        id=""
                        style="width: 33.333333333333336%"
                      >
                        <div
                          class="padding-bottom-small flex-container flex-align-items-stretch flex-align-content-flex-start flex-full-width"
                          id=""
                          style="width: 100%"
                        >
                          <div class="image image-size-fit align-center">
                            <img
                              src="https://m.media-amazon.com/images/G/01/wg/lp/LEGO-LP/Storefont_v2/Home/howitworks_01_prescription_2x.png"
                              alt="Illustration of doctors with Rx prescription "
                              title="Rx illustration"
                            />
                          </div>
                        </div>
                        <div
                          class="padding-left-small padding-right-small padding-bottom-xmini flex-container flex-align-items-stretch flex-align-content-flex-start flex-full-width ap-container-wrap"
                          id=""
                          style="width: 100%"
                        >
                          <h3
                            class="heading align-center color-squid font-family-ember heading-xsmall"
                          >
                            <strong>2. We’ll get your prescription</strong>
                          </h3>
                        </div>
                        <div
                          class="padding-left-small padding-right-small flex-container flex-align-items-stretch flex-align-content-flex-start flex-full-width ap-container-wrap"
                          id=""
                          style="width: 100%"
                        >
                          <div
                            class="text align-center color-squid font-family-ember font-size-xsmall font-weight-regular links-have-text-color"
                          >
                            We can work with your insurance and current pharmacy
                            to get your prescription.
                          </div>
                        </div>
                      </div>
                      <div
                        class="padding-left-mini padding-right-small flex-container flex-align-items-stretch flex-align-content-flex-start"
                        id=""
                        style="width: 33.333333333333336%"
                      >
                        <div
                          class="padding-bottom-small flex-container flex-align-items-stretch flex-align-content-flex-start flex-full-width"
                          id=""
                          style="width: 100%"
                        >
                          <div class="image image-size-fit align-center">
                            <img
                              src="https://m.media-amazon.com/images/G/01/wg/lp/LEGO-LP/Storefont_v2/Home/howitworks_03_delivered_2x.png"
                              alt="Illustration of box delivered"
                              title="Prescription delivered illustration"
                            />
                          </div>
                        </div>
                        <div
                          class="padding-left-small padding-right-small padding-bottom-xmini flex-container flex-align-items-stretch flex-align-content-flex-start flex-full-width ap-container-wrap"
                          id=""
                          style="width: 100%"
                        >
                          <h3
                            class="heading align-center color-squid font-family-ember heading-xsmall"
                          >
                            <strong>3. Get your meds delivered</strong>
                          </h3>
                        </div>
                        <div
                          class="padding-left-small padding-right-small flex-container flex-align-items-stretch flex-align-content-flex-start flex-full-width ap-container-wrap"
                          id=""
                          style="width: 100%"
                        >
                          <div
                            class="text align-center color-squid font-family-ember font-size-xsmall font-weight-regular links-have-text-color"
                          >
                            Have a question? Our pharmacists are available 24/7.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="flex-container flex-align-items-stretch flex-align-content-flex-start flex-full-width"
                    id=""
                    style="width: 100%"
                  >
                    <div class="button-container-padding-none">
                      <div class="align-center">
                        <a
                          href="/how-it-works?ref_=sf2_hiw2"
                          class="link button button-font-size-regular button-type-primary"
                          aria-label="Learn more about how it works"
                          >Learn more about how it works</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div></div>
            </div>
          </div>
        </div>

        <script
          src="https://d3216uwaav9lg7.cloudfront.net/assets-AmazonPharmacy.js"
          type="text/javascript"
        ></script>
      </div>
    </div>
  </section>

  <section data-sid="content-slot-9">
    <div
      class="celwidget pf_rd_p-4ee0109b-ebc4-429a-8e20-6846c9cd72e8 pf_rd_r-QZQSD5GGREY0K759EZ1D"
      cel_widget_id="84a3654f-fa67-4652-86d4-86c7bbcd1544"
      data-csa-op-log-render=""
      data-csa-c-content-id="amzn1.sym.4ee0109b-ebc4-429a-8e20-6846c9cd72e8"
      data-csa-c-slot-id="DsUnknown-9"
      data-csa-c-type="widget"
      data-csa-c-painter="pharmacy-lego-painter"
    >
      <div class="painters_lego-tracking-wrapper">
        <link
          href="https://d3216uwaav9lg7.cloudfront.net/assets-AmazonPharmacy.css"
          rel="stylesheet"
        />

        <div class="ap-lego desktop" data-devicetype="desktop">
          <div
            class="flex-container flex-align-items-stretch flex-align-content-flex-start flex-full-width"
            id=""
            style="width: 100%"
          >
            <div
              class="flex-container flex-align-items-stretch flex-align-content-flex-start flex-full-width"
              id=""
              style="width: 100%"
            >
              <div
                class="background-color-ghost-sage bg-no-repeat padding-left-small padding-right-small padding-top-xlarge padding-bottom-xlarge flex-container flex-align-items-stretch flex-align-content-flex-start flex-full-width"
                id="checkprices"
                style="
                  width: 100%;
                  background-image: url(&#x27;https://m.media-amazon.com/images/G/01/wg/lp/LEGO-LP/Storefont_v2/Home/search_bg-2x.jpg&#x27;);
                  background-size: cover;
                  background-position: center center;
                "
              >
                <div class="has-max-width">
                  <div
                    class="padding-bottom-mini flex-container flex-align-items-stretch flex-align-content-flex-start flex-full-width"
                    id=""
                    style="width: 100%"
                  >
                    <div class="has-max-width ap-container-wrap">
                      <h1
                        class="heading align-center color-squid font-family-ember heading-xlarge"
                      >
                        <strong>See if we have your medication</strong>
                      </h1>
                    </div>
                  </div>
                  <div
                    class="padding-bottom-small flex-container flex-align-items-stretch flex-align-content-flex-start flex-full-width"
                    id=""
                    style="width: 100%"
                  >
                    <div class="has-max-width ap-container-wrap">
                      <div
                        class="text align-center color-squid font-family-ember font-size-medium font-weight-regular"
                      >
                        Just search for your medication to find low prices.
                      </div>
                    </div>
                  </div>
                  <div
                    class="padding-bottom-small flex-container flex-align-items-stretch flex-align-content-flex-start flex-full-width ap-container-direction-row"
                    id=""
                    style="width: 100%"
                  >
                    <div
                      class="flex-container flex-align-items-stretch flex-align-content-flex-start"
                      id=""
                      style="width: 16.666666666666668%"
                    >
                      <div class="spacer"></div>
                    </div>
                    <div
                      class="flex-container flex-align-items-stretch flex-align-content-flex-start"
                      id=""
                      style="width: 66.66666666666667%"
                    >
                      <div
                        class="ap-search-bar ap-search-bar-primary"
                        style="width: 100%"
                        data-search-category="amazon-pharmacy"
                        data-search-ref="sf2_search"
                        data-search-autocomplete="false"
                      >
                        <label class="ap-search-bar__input-group"
                          ><input
                            class="ap-search-bar__input"
                            autoCorrect="off"
                            autoComplete="off"
                            spellcheck="false" /><span
                            class="ap-search-bar__input-label"
                            >Type your medication name</span
                          ><i class="ap-search-bar__icon"></i></label
                        ><a
                          href="#"
                          class="ap-search-bar__btn button button-type-primary"
                          role="button"
                          ><i class="ap-search-bar__btn-icon"></i
                          ><span>Search</span></a
                        >
                        <ul class="ap-search-bar__autocomplete-results"></ul>
                      </div>
                    </div>
                    <div
                      class="flex-container flex-align-items-stretch flex-align-content-flex-start"
                      id=""
                      style="width: 16.666666666666668%"
                    >
                      <div class="spacer"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div></div>
            </div>
          </div>
        </div>

        <script
          src="https://d3216uwaav9lg7.cloudfront.net/assets-AmazonPharmacy.js"
          type="text/javascript"
        ></script>
      </div>
    </div>
  </section>

  <section data-sid="content-slot-10">
    <div
      class="celwidget pf_rd_p-14a496a5-fae8-4a81-94c9-340149b9a0a7 pf_rd_r-QZQSD5GGREY0K759EZ1D"
      cel_widget_id="ab700a1d-e9b3-4f31-807d-163b5354f3f2"
      data-csa-op-log-render=""
      data-csa-c-content-id="amzn1.sym.14a496a5-fae8-4a81-94c9-340149b9a0a7"
      data-csa-c-slot-id="DsUnknown-10"
      data-csa-c-type="widget"
      data-csa-c-painter="pharmacy-lego-painter"
    >
      <div class="painters_lego-tracking-wrapper">
        <link
          href="https://d3216uwaav9lg7.cloudfront.net/assets-AmazonPharmacy.css"
          rel="stylesheet"
        />

        <div class="ap-lego desktop" data-devicetype="desktop">
          <div
            class="flex-container flex-align-items-stretch flex-align-content-flex-start flex-full-width"
            id=""
            style="width: 100%"
          >
            <div
              class="background-color-luna padding-top-xxlarge padding-bottom-xxlarge flex-container flex-align-items-stretch flex-align-content-flex-start flex-full-width"
              id=""
              style="width: 100%"
            >
              <div
                class="padding-left-small padding-right-small padding-bottom-base flex-container flex-align-items-stretch flex-align-content-flex-start flex-full-width"
                id=""
                style="width: 100%"
              >
                <h3
                  class="heading align-center color-squid font-family-ember heading-xlarge"
                >
                  <strong>What customers are saying</strong>
                </h3>
              </div>
              <div
                class="padding-left-xxlarge padding-right-xxlarge flex-container flex-align-items-stretch flex-align-content-flex-start flex-full-width ap-container-nowrap ap-container-direction-row"
                id=""
                style="width: 100%"
              >
                <div
                  class="background-color-white border-color-nickel border-radius-10px padding-left-small padding-right-small padding-top-small padding-bottom-small border-left-1px border-right-1px border-top-1px border-bottom-1px flex-container flex-align-items-stretch flex-align-content-flex-start ap-container-wrap margin-left-xmini margin-right-xmini"
                  id=""
                  style="width: 25%"
                >
                  <div
                    class="padding-bottom-xsmall flex-container flex-align-items-stretch flex-align-content-flex-start flex-full-width"
                    id=""
                    style="width: 100%"
                  >
                    <div class="image image-size-custom align-center">
                      <img
                        src="https://m.media-amazon.com/images/G/01/wg/lp/LEGO-LP/Storefont_v2/Home/five-stars-jade.svg"
                        alt="5 star rating"
                        title="Star ratings"
                        style="height: 24px; width: auto"
                      />
                    </div>
                  </div>
                  <div
                    class="padding-bottom-xsmall flex-container flex-align-items-stretch flex-align-content-flex-start flex-full-width"
                    id=""
                    style="width: 100%"
                  >
                    <div
                      class="text align-center color-squid font-family-ember font-size-small font-weight-regular"
                    >
                      <strong
                        >“Fewer trips to the pharmacy and more reliable service
                        than I was getting with my old pharmacy”</strong
                      >
                    </div>
                  </div>
                  <div
                    class="flex-container flex-align-items-stretch flex-align-content-flex-start flex-full-width"
                    id=""
                    style="width: 100%"
                  >
                    <div
                      class="text align-center color-thunder font-family-ember font-size-xsmall font-weight-regular"
                    >
                      – Anita F, Amazon Pharmacy customer
                    </div>
                  </div>
                </div>
                <div
                  class="background-color-white border-color-nickel border-radius-10px padding-left-small padding-right-small padding-top-small padding-bottom-small border-left-1px border-right-1px border-top-1px border-bottom-1px flex-container flex-align-items-stretch flex-align-content-flex-start ap-container-wrap margin-left-xmini margin-right-xmini"
                  id=""
                  style="width: 25%"
                >
                  <div
                    class="padding-bottom-xsmall flex-container flex-align-items-stretch flex-align-content-flex-start flex-full-width"
                    id=""
                    style="width: 100%"
                  >
                    <div class="image image-size-custom align-center">
                      <img
                        src="https://m.media-amazon.com/images/G/01/wg/lp/LEGO-LP/Storefont_v2/Home/five-stars-jade.svg"
                        alt="5 star rating"
                        title="Star ratings"
                        style="height: 24px; width: auto"
                      />
                    </div>
                  </div>
                  <div
                    class="padding-bottom-xsmall flex-container flex-align-items-stretch flex-align-content-flex-start flex-full-width"
                    id=""
                    style="width: 100%"
                  >
                    <div
                      class="text align-center color-squid font-family-ember font-size-small font-weight-bold"
                    >
                      “Ordering from Amazon is so simple. I don&#x27;t have to
                      wait in line, and when I order it shows up at the door.”
                    </div>
                  </div>
                  <div
                    class="flex-container flex-align-items-stretch flex-align-content-flex-start flex-full-width"
                    id=""
                    style="width: 100%"
                  >
                    <div
                      class="text align-center color-thunder font-family-ember font-size-xsmall font-weight-regular"
                    >
                      – Louis D, Amazon Pharmacy customer
                    </div>
                  </div>
                </div>
                <div
                  class="background-color-white border-color-nickel border-radius-10px padding-left-small padding-right-small padding-top-small padding-bottom-small border-left-1px border-right-1px border-top-1px border-bottom-1px flex-container flex-align-items-stretch flex-align-content-flex-start ap-container-wrap margin-left-xmini margin-right-xmini"
                  id=""
                  style="width: 25%"
                >
                  <div
                    class="padding-bottom-xsmall flex-container flex-align-items-stretch flex-align-content-flex-start flex-full-width"
                    id=""
                    style="width: 100%"
                  >
                    <div class="image image-size-custom align-center">
                      <img
                        src="https://m.media-amazon.com/images/G/01/wg/lp/LEGO-LP/Storefont_v2/Home/five-stars-jade.svg"
                        alt="5 star rating"
                        title="Star ratings"
                        style="height: 24px; width: auto"
                      />
                    </div>
                  </div>
                  <div
                    class="padding-bottom-xsmall flex-container flex-align-items-stretch flex-align-content-flex-start flex-full-width"
                    id=""
                    style="width: 100%"
                  >
                    <div
                      class="text align-center color-squid font-family-ember font-size-small font-weight-bold"
                    >
                      “I don&#x27;t have to follow up with my doctor&#x27;s
                      office for refills anymore. Amazon Pharmacy handles
                      everything.”
                    </div>
                  </div>
                  <div
                    class="flex-container flex-align-items-stretch flex-align-content-flex-start flex-full-width"
                    id=""
                    style="width: 100%"
                  >
                    <div
                      class="text align-center color-thunder font-family-ember font-size-xsmall font-weight-regular"
                    >
                      – Meredith M, Amazon Pharmacy customer
                    </div>
                  </div>
                </div>
                <div
                  class="background-color-white border-color-nickel border-radius-10px padding-left-small padding-right-small padding-top-small padding-bottom-small border-left-1px border-right-1px border-top-1px border-bottom-1px flex-container flex-align-items-stretch flex-align-content-flex-start ap-container-wrap margin-left-xmini margin-right-xmini"
                  id=""
                  style="width: 25%"
                >
                  <div
                    class="padding-bottom-xsmall flex-container flex-align-items-stretch flex-align-content-flex-start flex-full-width"
                    id=""
                    style="width: 100%"
                  >
                    <div class="image image-size-custom align-center">
                      <img
                        src="https://m.media-amazon.com/images/G/01/wg/lp/LEGO-LP/Storefont_v2/Home/five-stars-jade.svg"
                        alt="5 star rating"
                        title="Star ratings"
                        style="height: 24px; width: auto"
                      />
                    </div>
                  </div>
                  <div
                    class="padding-bottom-xsmall flex-container flex-align-items-stretch flex-align-content-flex-start flex-full-width"
                    id=""
                    style="width: 100%"
                  >
                    <div
                      class="text align-center color-squid font-family-ember font-size-small font-weight-regular"
                    >
                      <strong
                        >“It is very easy to order my prescriptions and then
                        receive them delivered to my home very quickly!”</strong
                      >
                    </div>
                  </div>
                  <div
                    class="flex-container flex-align-items-stretch flex-align-content-flex-start flex-full-width"
                    id=""
                    style="width: 100%"
                  >
                    <div
                      class="text align-center color-thunder font-family-ember font-size-xsmall font-weight-regular"
                    >
                      – Kathleen F, Amazon Pharmacy customer
                    </div>
                  </div>
                </div>
              </div>
              <div></div>
            </div>
          </div>
        </div>

        <script
          src="https://d3216uwaav9lg7.cloudfront.net/assets-AmazonPharmacy.js"
          type="text/javascript"
        ></script>
      </div>
    </div>
  </section>

  <section data-sid="content-slot-11">
    <div
      class="celwidget pf_rd_p-1ae8ffc9-dae9-4535-9c00-3a8b9fe0b79d pf_rd_r-QZQSD5GGREY0K759EZ1D"
      cel_widget_id="72a66788-7581-475e-b1bf-b20b1119a258"
      data-csa-op-log-render=""
      data-csa-c-content-id="amzn1.sym.1ae8ffc9-dae9-4535-9c00-3a8b9fe0b79d"
      data-csa-c-slot-id="DsUnknown-11"
      data-csa-c-type="widget"
      data-csa-c-painter="pharmacy-lego-painter"
    >
      <div class="painters_lego-tracking-wrapper">
        <link
          href="https://d3216uwaav9lg7.cloudfront.net/assets-AmazonPharmacy.css"
          rel="stylesheet"
        />

        <div class="ap-lego desktop" data-devicetype="desktop">
          <div
            class="flex-container flex-align-items-stretch flex-align-content-flex-start flex-full-width"
            id=""
            style="width: 100%"
          >
            <div
              class="background-color-sage padding-left-small padding-right-small padding-top-xlarge padding-bottom-xxlarge flex-container flex-align-items-stretch flex-align-content-flex-start flex-full-width"
              id=""
              style="width: 100%"
            >
              <div class="has-max-width">
                <div
                  class="flex-container flex-align-items-stretch flex-align-content-flex-start flex-full-width margin-bottom-mini"
                  id=""
                  style="width: 100%"
                >
                  <h2
                    class="heading align-center color-squid font-family-ember heading-xlarge"
                  >
                    <strong>More to explore</strong>
                  </h2>
                </div>
                <div
                  class="flex-container flex-align-items-stretch flex-align-content-flex-start flex-full-width margin-bottom-base"
                  id=""
                  style="width: 100%"
                >
                  <div
                    class="text align-center color-squid font-family-ember font-size-medium font-weight-regular"
                  >
                    Discover other ways Amazon can help you stay healthy.
                  </div>
                </div>
                <div
                  class="flex-container flex-align-items-stretch flex-align-content-flex-start flex-full-width ap-container-nowrap ap-container-direction-row"
                  id=""
                  style="width: 100%"
                >
                  <div
                    class="background-color-white border-color-nickel border-radius-10px border-left-1px border-right-1px border-top-1px border-bottom-1px flex-container flex-align-items-stretch flex-align-content-flex-start ap-container-wrap ap-container-direction-column margin-left-xmini margin-right-xmini"
                    id=""
                    style="width: 33.333333333333336%"
                  >
                    <a
                      class="link-container"
                      href="pillpack?ref_=sf2_pillpack_t1"
                      aria-label="Learn more about PillPack"
                      ><div
                        class="flex-container flex-align-items-stretch flex-align-content-flex-start flex-full-width"
                        id=""
                        style="width: 100%"
                      >
                        <div
                          class="image image-size-fit align-start lazy-loaded"
                        >
                          <img
                            src="https://m.media-amazon.com/images/G/01/wg/lp/LEGO-LP/Storefont_v2/Home/Programs-PillPacks-Desktop-fw._SL1280_FMpng_._SL50_FMpng_BL5_.png"
                            alt="Three PillPack packets "
                            title="PillPack "
                            data-src="https://m.media-amazon.com/images/G/01/wg/lp/LEGO-LP/Storefont_v2/Home/Programs-PillPacks-Desktop-fw._SL1280_FMpng_.png"
                          />
                        </div>
                      </div>
                      <div
                        class="padding-left-small padding-right-small padding-top-small padding-bottom-small flex-container flex-align-items-stretch flex-align-content-flex-start flex-full-width ap-container-wrap"
                        id=""
                        style="width: 100%"
                      >
                        <div
                          class="padding-bottom-xmini flex-container flex-align-items-stretch flex-align-content-flex-start flex-full-width ap-container-wrap"
                          id=""
                          style="width: 100%"
                        >
                          <div
                            class="text align-center color-squid font-family-ember font-size-small font-weight-bold"
                          >
                            Prefer your meds in packets?
                          </div>
                        </div>
                        <div
                          class="padding-bottom-xsmall flex-container flex-align-items-stretch flex-align-content-flex-start flex-full-width ap-container-wrap"
                          id=""
                          style="width: 100%"
                        >
                          <div
                            class="text align-center color-squid font-family-ember font-size-small font-weight-regular"
                          >
                            PillPack by Amazon Pharmacy will sort your meds by
                            date and time.
                          </div>
                        </div>
                        <div
                          class="flex-container flex-align-items-flex-end flex-align-content-flex-end flex-full-width ap-container-wrap"
                          id=""
                          style="width: 100%"
                        >
                          <div
                            class="text align-center color-pharmacy-teal font-family-ember font-size-small font-weight-bold"
                          >
                            Learn more ›
                          </div>
                        </div>
                      </div></a
                    >
                  </div>
                  <div
                    class="background-color-white border-color-nickel border-radius-10px border-left-1px border-right-1px border-top-1px border-bottom-1px flex-container flex-align-items-stretch flex-align-content-flex-start ap-container-wrap ap-container-direction-column margin-left-xmini margin-right-xmini"
                    id=""
                    style="width: 33.333333333333336%"
                  >
                    <a
                      class="link-container"
                      href="https://health.amazon.com/prime?ref_=AP_BTF_OML"
                      aria-label="Learn more about One Medical membership"
                      ><div
                        class="flex-container flex-align-items-stretch flex-align-content-flex-start flex-full-width"
                        id=""
                        style="width: 100%"
                      >
                        <div
                          class="image image-size-fit align-start lazy-loaded"
                        >
                          <img
                            src="https://m.media-amazon.com/images/G/01/wg/lp/LEGO-LP/Storefont_v2/Home/One-Medical-Membership._SL1280_FMpng_._SL50_FMpng_BL5_.png"
                            alt="Doctor using stethoscope on patient"
                            title="Amazon One Medical membership"
                            data-src="https://m.media-amazon.com/images/G/01/wg/lp/LEGO-LP/Storefont_v2/Home/One-Medical-Membership._SL1280_FMpng_.png"
                          />
                        </div>
                      </div>
                      <div
                        class="padding-left-small padding-right-small padding-top-small padding-bottom-small flex-container flex-align-items-stretch flex-align-content-flex-start flex-full-width ap-container-wrap"
                        id=""
                        style="width: 100%"
                      >
                        <div
                          class="padding-bottom-xmini flex-container flex-align-items-stretch flex-align-content-flex-start flex-full-width ap-container-wrap"
                          id=""
                          style="width: 100%"
                        >
                          <div
                            class="text align-center color-squid font-family-ember font-size-small font-weight-bold"
                          >
                            One Medical membership
                          </div>
                        </div>
                        <div
                          class="padding-bottom-xsmall flex-container flex-align-items-stretch flex-align-content-flex-start flex-full-width ap-container-wrap"
                          id=""
                          style="width: 100%"
                        >
                          <div
                            class="text align-center color-squid font-family-ember font-size-small font-weight-regular"
                          >
                            Get on-demand medical care for $9/mo with Prime, or
                            book a visit at our 200+ offices
                          </div>
                        </div>
                        <div
                          class="flex-container flex-align-items-flex-end flex-align-content-flex-end flex-full-width ap-container-wrap"
                          id=""
                          style="width: 100%"
                        >
                          <div
                            class="text align-center color-pharmacy-teal font-family-ember font-size-small font-weight-bold"
                          >
                            Learn more ›
                          </div>
                        </div>
                      </div></a
                    >
                  </div>
                  <div
                    class="background-color-white border-color-nickel border-radius-10px border-left-1px border-right-1px border-top-1px border-bottom-1px flex-container flex-align-items-stretch flex-align-content-flex-start ap-container-wrap ap-container-direction-column margin-left-xmini margin-right-xmini"
                    id=""
                    style="width: 33.333333333333336%"
                  >
                    <a
                      class="link-container"
                      href="https://health.amazon.com/onemedical/ppv?ref_=apsf_aomppv_gen"
                      aria-label="Learn more about One Medical Pay-per-visit"
                      ><div
                        class="flex-container flex-align-items-stretch flex-align-content-flex-start flex-full-width"
                        id=""
                        style="width: 100%"
                      >
                        <div
                          class="image image-size-fit align-start lazy-loaded"
                        >
                          <img
                            src="https://m.media-amazon.com/images/G/01/wg/lp/LEGO-LP/Storefont_v2/Home/One-Medical-Pay-Per-Visit._SL1280_FMpng_._SL50_FMpng_BL5_.png"
                            alt="Smartphone screen showing video with a clinician via Amazon One Medical"
                            title="One medical Pay-per-visit"
                            data-src="https://m.media-amazon.com/images/G/01/wg/lp/LEGO-LP/Storefont_v2/Home/One-Medical-Pay-Per-Visit._SL1280_FMpng_.png"
                          />
                        </div>
                      </div>
                      <div
                        class="padding-left-small padding-right-small padding-top-small padding-bottom-small flex-container flex-align-items-stretch flex-align-content-flex-start flex-full-width ap-container-wrap"
                        id=""
                        style="width: 100%"
                      >
                        <div
                          class="padding-bottom-xmini flex-container flex-align-items-stretch flex-align-content-flex-start flex-full-width ap-container-wrap"
                          id=""
                          style="width: 100%"
                        >
                          <div
                            class="text align-center color-squid font-family-ember font-size-small font-weight-bold"
                          >
                            One Medical Pay-per-visit
                          </div>
                        </div>
                        <div
                          class="padding-bottom-xsmall flex-container flex-align-items-stretch flex-align-content-flex-start flex-full-width ap-container-wrap"
                          id=""
                          style="width: 100%"
                        >
                          <div
                            class="text align-center color-squid font-family-ember font-size-small font-weight-regular"
                          >
                            No-commitment telehealth, as low as $29 per visit
                            (formerly Amazon Clinic)
                          </div>
                        </div>
                        <div
                          class="flex-container flex-align-items-stretch flex-align-content-flex-start flex-full-width ap-container-wrap"
                          id=""
                          style="width: 100%"
                        >
                          <div
                            class="text align-center color-pharmacy-teal font-family-ember font-size-small font-weight-bold"
                          >
                            Learn more ›
                          </div>
                        </div>
                      </div></a
                    >
                  </div>
                </div>
                <div></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
